* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  color: #2C3E50;
}

.displayNone {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.goldenBorder {
  border: 4px solid #FDD835;
}

.silverBorder {
  border: 4px solid #90A4AE;
}

.bronzeBorder {
  border: 4px solid #795548;
}
